In [2]:
#Excercise-1
#Calculate the multiplication and sum of two numbers
#Given two integer numbers,return their product only if the product is equal to or lower than 1000.Otherwise return their sum
def multiplication_or_sum(num1,num2):
#Calculate the product of two number
        product=num1*num2
#Check if product is less than 1000
        if product<=1000:
            return product
        else:
            return num1+num2
# first condition
result=multiplication_or_sum(20,30)
print("The result is",result)
# Second condition
result=multiplication_or_sum(40,30)
print("The result is",result)

The result is 600
The result is 70

In [3]:
#Excercise-2
#Print the sum of the current and previous numbers
#Write a program to iterate first 10 numbers and in each iteration,print the sum of the current and previous number.
print("Printing current and previous number and their sum in a range(10)")
previous_num=0
# Loop from 1 to 10
for i in range (1,11):
    x_sum=previous_num+i
    print("Current number",i,"Previous number",previous_num,"sum",x_sum)
    #modify previous number
    #set it to current number
    previous_num=i

Printing current and previous number and their sum in a range(10)
Current number 1 Previous number 0 sum 1
Current number 2 Previous number 1 sum 3
Current number 3 Previous number 2 sum 5
Current number 4 Previous number 3 sum 7
Current number 5 Previous number 4 sum 9
Current number 6 Previous number 5 sum 11
Current number 7 Previous number 6 sum 13
Current number 8 Previous number 7 sum 15
Current number 9 Previous number 8 sum 17
Current number 10 Previous number 9 sum 19

In [2]:
#Excercise-3
#Print characters from string that are present at an even index number 
#Write a program to accept a string from the user and display characters that are present at an even index number
#Accept input string ffrom user
word=input('Enter word')
print("Original string",word)
#get the length of the string
size=len(word)
# iterate a character of string
#Start:0 to start with first character
#stop: size-1 because index starts with 0
# Step: 2 to get the charcters present in the even index 0,2,4
print("printing only even index chars")
for i in range(0,size-1,2):
    print("index[" ,i, "]",word[i])

Enter word python

Original string python
printing only even index chars
index[ 0 ] p
index[ 2 ] t
index[ 4 ] o

In [9]:
#Excercise-3 Alternate method
#Accept input string from user
word=input("Enter word")
print("Original string",word)
#Using list slicing
#Convert string to list
#pick only even index chars
x=list(word)
for i in x[0::2]:
    print(i)

Enter word python

Original string python
p
t
o

In [1]:
#Excercise-4
#Remove first n charcter from string
#Write a program to remove characters from string starting from zero upto n and return a new string
def remove_char_string(word,n):
    print("Original string",word)
    x=word[n:]
    return x
print("Removing characters from string")
print(remove_char_string("Science",5))
print(remove_char_string("Science",2))

Removing characters from string
Original string Science
ce
Original string Science
ience

In [16]:
#Alternate method to solve the Excercise-4
x="Science"
print(x[5:])

ce

In [19]:
#Excercise-5 Check if the first and last number of a list is the same
#Write a function and return True if the first and last number of a given list is same.If the numbers are different then return False
numbers_x=[10,20,30,40,10]
numbers_y=[75,65,35,75,30]
if numbers_x[0]==numbers_x[-1]:
    print("The result is",True)
else:
    print("The result is",False)

if numbers_y[0]==numbers_y[-1]:
    print("The result is",True)
else:
    print("The result is", False)

The result is True
The result is False

In [3]:
#Alternate method for solving Excercise-5
def first_last_same(numberList):
    print ("Given List:",numberList)
    first_num=numberList[0]
    last_num=numberList[-1]
    if first_num==last_num:
        return True
    else:
        return False
numbers_x=[10,20,30,40,10]
print("result is",first_last_same(numbers_x))
numbers_y=[75,65,35,75,30]
print("result is",first_last_same(numbers_y))

Given List: [10, 20, 30, 40, 10]
result is True
Given List: [75, 65, 35, 75, 30]
result is False

In [6]:
#Excercise-6-Display numbers divisible by 5 from a list
#Iterate the given list of numbers and print only those numbers which are divisble by 5
num_list=[10,20,33,46,55]
print("Given number of List:",num_list)
print('Divisible by 5:')
for i in num_list:
    if i %5==0:
        print(i)

Given number of List: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [7]:
#Excercise-7 Return the count of given substring from the string
#Write a program to find how many times substring "Emmma" appears in the given string
str_x="Emma is a good creator. Emma is a good writer. Emma is developer"
y=str_x.count("Emma")
print(y)

3

In [10]:
#Excercise-8  Print the pattern
for x in range(5):
    for i in range(x):
        print(x,end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

In [34]:
# Excercise-9 Check Palindrome number
# Write a program to check the given number is palindrome number.
# A palindrome number is the number that is same even after reversing it.For example 545,121 is the palindrome number.
def palindrome(number):
    print("Original number",number)
    original_num=number
#reverse the given number
    reverse_num=0
    while number>0:
        reminder=number%10
        reverse_num=(reverse_num*10)+reminder
        number=number//10
# Check numbers for palindrome
    if original_num==reverse_num:
        print("The Given number is Palindrome")
    else:
        print("The Given number is not Palindrome")


palindrome(121)
palindrome(125)

Original number 121
The Given number is Palindrome
Original number 125
The Given number is not Palindrome

In [36]:
x=125
y=10
z=x//y
print(z)

12

In [17]:
x=121
y=10
z=x/y
print(z)

12.1

In [35]:
x=125
y=10
z=x%y
print(z)

5

In [4]:
#Excercise-10 Create a new list from 2 list using the following condition
#Given two list of numbers,write a program to create a new list such that new list should contain odd numbers from the first list and even numbers from the second list.
def merge_list(list1,list2):
    list3=[]
# Iterate the first list
    for x in list1:
    #check if current number is odd
        if x%2!=0:
    # add odd number to the list3
            list3.append(x)
# Iterate the second list
    for y in list2:
    #check if current number is even
        if y%2==0:
        #add even number to the list3
            list3.append(y)
    return list3
list1=[10,20,25,30,35]
list2=[40,45,60,75,90]
print("result list is:",merge_list(list1,list2))

result list is: [25, 35, 40, 60, 90]

In [8]:
#Excercise-11 Write a program to extract each digit from an integer in the reverse order.
number=7536
print("Given number:",number)
while number>0:
    #get the last digit
    digit=number%10
    #remove the last digit and repeat the loop
    number=number//10
    print(digit,end=" ")

Given number: 7536
6 3 5 7

In [6]:
x=7536
digit=x%10
print(digit)

6

In [7]:
y=x//10
print(y)

753

In [2]:
#Excercise-12 Calculate the income tax for the given income by adhering to the rules below
#Taxable income    Rate
# $10000           0%
# Next $10000      10%
# The remaining    20%
income=45000
tax_payable=0
print("Given income",income)
if income<=10000:
    tax_payable=0
elif income<=20000:
    # no tax on first 10000
    x=income-10000
    # 10% tax
    tax_payable=x*10/100
else:
    #first 10000 tax is 0
    tax_payable=0
    # Next 10000, tax is 10%
    tax_payable=10000*10/100
    #remaining amount, tax is 20%
    tax_payable+=(income-20000)*20/100
    print("The total tax to pay is",tax_payable)

Given income 45000
The total tax to pay is 6000.0

In [5]:
#Excercise-13 Print multiplication table from 1 to 10
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [12]:
#Excercise-14 Print a downward half-pyramid pattern of star (aestrisk)

for i in range (6,0,-1):
    for j in range (0,i-1):
        print("*",end=(" "))
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [14]:
# Excercise-15 Write a function called exponent(base,exp) that returns an integer value of base raises to power of exponential
#Note Here exp is a non-negative integer, and the base is an integer.
def exponent(base,exp):
    x=exp
    y=1
    while x>0:
        y=y*base
        x=x-1
    print(base,"raises to the power of",exp,"is:",y)
exponent(5,4)

5 raises to the power of 4 is: 625

## PYTHON INPUT OUTPUT EXCERCISE

In [2]:
#Excercise-1 Accept numbers from users
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
res=num1*num2
print("Multiplication is",res)

Enter first number 2
Enter second number 4

Multiplication is 8

In [4]:
#Excercise-2 Display three string "Name","Is","James" as "Name**Is**James"
#Use the sep parameter of the print () function to define the seperator symbol between each word
print("Name","Is","James",sep='**')

Name**Is**James

In [9]:
#Excercise-3 Convert Decimal number to Octal number using print() output formatting
num = 8
#Use the %o formatting code in print() function to format decimal number to Octal
print('%o' %num)

10

In [11]:
#Excercise-4 Display float number with 2 decimal places using print()
num=458.541315
#Use the %.2f formatting code in print() function to format float number to two decimal places
print('%.2f' %num)

458.54

In [14]:
#Excercise-5 Accept a list of  5 float numbers as an input from the user
number=[]
# 5 is the list size
# run  the loop 5 times
for i in range(0,5):
    print("Enter number at location",i,":")
#Accept float number from user
    item=float(input())
#Add it to the list
    number.append(item)

print("User List:",number)

Enter number at location 0 :

 2.5

Enter number at location 1 :

 3.5

Enter number at location 2 :

 4.5

Enter number at location 3 :

 5.5

Enter number at location 4 :

 6.5

User List: [2.5, 3.5, 4.5, 5.5, 6.5]

In [9]:
#Excercise-6 Write all content of a given file into a new file by skipping line number 5
#read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

In [10]:
# create a empty text file
fp = open("test.txt", 'w')
fp.write('Line1')
fp.write('Line2')
fp.write('Line3')
fp.write('Line4')
fp.write('Line5')
fp.write('line6')
fp.close()

In [14]:
#Excercise-7 Accept any three string from one input() call
str1, str2, str3= input("Enter three string").split()
print("Name 1 is:",str1)
print("Name 2 is:",str2)
print("Name 3 is:",str3)

Enter three string kp kpn kpp

Name 1 is: kp
Name 2 is: kpn
Name 3 is: kpp

In [16]:
# Excercise-8 Format Variables using a string.format() method 
#Write a program to use string.format() method to format the following three variables as per the expected output
quantity=3
totalmoney=1000
price=450
statement1="I have {1} dollars so i can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity,totalmoney,price))

I have 1000 dollars so i can buy 3 football for 450.00 dollars.

In [3]:
#Excercise-9 Check file is empty or not
# Write a program to check if the given file is empty or not
#Use os.stat('file_name').st_size() function to get the file size.If it is 0 then the file is empty.
import os
size=os.stat("test.txt").st_size
if size==0:
    print("The File is Empty")

In [4]:
#Excercise-9 Check file is empty or not
# Write a program to check if the given file is empty or not
#Use os.stat('file_name').st_size() function to get the file size.If it is 0 then the file is empty.
import os
size=os.stat("sales.txt").st_size
if size==0:
    print("The File is Empty")

The File is Empty

In [6]:
#Excercise-10 Read line number 4 from the following file
# read file
with open('test.txt','r') as fp:
    #read all lines from a file
    lines=fp.readlines()
    #get line number 4
    print(lines[3])

Line4